<div class="row">
  <div class"col-md-12">
   <h1>Disfruta de Gatitos</h1>
   <h2>{{title}}</h2>
 </div>
</div>

<br>

<button type="submit"
onclick="location.href='products/new_products'"><img src="https://s-media-cache-ak0.pinimg.com/736x/dc/72/12/dc7212c96c5dc32ee19a3f5e1836b69b.jpg" width="45" height="35"> Agregar Gatito</button>

<br>

<div class="row">
  {{#each products}}
  <div class="col-md-4">
  	<div style="width:65%;height:300px"> 
	  	<h2>{{this.name}}</h2>
	   <img src="{{this.photo}}" class="img-thumbnail" alt="Not Image" style="width:100%;height:80%" alt="{{this.name}}">
	   <p>Stock: {{this.stock}}</p>
  	</div>
 </div>
 {{/each}}

</div>
