<div class="row">
  <div class"col-md-12">
   <h1>Disfruta de Gatitos</h1>
   <h2>{{title}}</h2>
 </div>
</div>

<br>

<button type="submit" class="custombtn" 
onclick="location.href='products/new_products'">Agregar Gatito</button>

<br>

<div class="row">
  {{#each products}}
  <div class="col-md-4">
   <h2>{{this.name}}</h2>
   <img src="{{this.photo}}" class="img-responsive" alt="{{this.name}}">
   <p>Stock: {{this.stock}}</p>
 </div>
 {{/each}}

</div>
